*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;

}

#intro {
    margin: 1rem 0;
    color: rgb(240, 167, 133)
}

#intro h1{
    margin-bottom: 1rem;
}

#intro p{
    font-weight: bold;
    font-size: 1.2rem;
}

#game{
    background: rgb(207, 207, 205);
    height: 40%;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}

#game .text{
    margin: 1rem 0;
}

#game #type{
    margin: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 3rem;
    line-height: 1.2;
}

#game .typing-tool{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#game .typing-tool button{
    margin: 1rem 0;
}

.btn{
    width: 50%;
    text-align: center;
    padding: 0.5rem 0.7rem;
    background: #111;
    border: black;
    color: ivory;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 1.3rem;
}