*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

#animation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    
}
.animationRun{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    animation: 1s linear 0s 3 alternate play
}
img{
    width:400px;
    height: 300px;
}
.bChoice{
}
.pChoice{
    transform: scaleX(-1);
    
}

@keyframes play{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(50%);
    }
    75%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0);
    }

}