*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(68, 67, 67);
    color: ivory;
}

.wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem  auto;
    align-items: center;
}

.wrapper h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.wrapper h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.wrapper button{
    margin-top: 2rem;
    width: 20%;
    padding: 0.5rem 0;
    background: #222222;
    color: ivory;
    font-size: 1.2rem;
    font-weight: bold;
    border:none;
    outline: none;
    border-radius:5px;
}

.wrapper input{
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top:.5rem;
}
.wrapper h2{
    margin-bottom: 1rem;
}